#pack-title {
    margin-bottom: 4px;
}

#pack-images {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    overflow-x: scroll;
}

.pack-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px dashed lightgrey;
}

.pack-image:not(:last-child) {
    margin-right: 2px;
}

.pack-image img {
    max-width: 100%;
    max-height: 100%;
}