<p>
    <img src="static/preview.png" width="300" style="float: right; margin-left: 4px">
    The Windows NT Modding Utility (NTMU) is a program that allows users to quickly
    patch and replace files in order to theme their system. NTMU can be used to automate
    the modification of resources in files on the user's system, including operating
    system files. Files can also be outright replaced with different ones, and new
    files can be added to the right location on the user's system. The tool additionally
    provides the ability to import registry configurations, allowing theme packs to automate
    the modification of the registry. Pack authors can define options for the end user to
    change in order to configure the theme pack to their liking before applying the pack
    to their system.
</p>
<p>
    This program is meant to act as a replacement to the Se7en Theme Source Patcher (7TSP),
    as well as a way to automate other tedious patches to modified Windows systems.
    Here is a table comparing the two programs:
</p>
<table>
    <tbody>
        <tr>
            <th>Feature</th>
            <th>7TSP</th>
            <th>NTMU</th>
        </tr>
        <tr>
            <td>Icon/resource replacement</td>
            <td>✅</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Direct file copying</td>
            <td>❌</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Registry importing</td>
            <td>❌</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Author-defined options for packs</td>
            <td>❌</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Patching uxtheme.dll</td>
            <td>✅</td>
            <td>❌</td>
        </tr>
        <tr>
            <td>Open source</td>
            <td>❌</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Programming language</td>
            <td>AutoIt v3</td>
            <td>C++14</td>
        </tr>
    </tbody>
</table>
</p>
    <a href="#!/download" id="download-link">Download Now!</a>
</p>
